body{
    background-color: lightgray;
}

.tarjeta{
    background-color: white;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: gray 1px 1px 1px;
    float: left;
    margin:5px;
    transition: all 500ms ease;
}

.tarjeta:hover{
    transform: scale(1.2);
    box-shadow: rgb(71, 71, 71) 10px 10px 10px;
}

.tarjeta p{
    color:rgb(68, 68, 68);
    text-align: center;
}